{{#*inline "body"}}

<div class="text-center pt-3">
    <h1>Universal Wishlist</h1>
    <p>Tracking {{list_count}} lists with {{item_count}} items.</p>
    <a href="/lists" class="btn btn-primary">View all lists</a>
    <a href="/lists/new" class="btn btn-primary">Create a new list</a>
</div>

{{/inline}}
{{> imports/main}}
